.page{width:80vw;height:80vh;border:1px solid red}
nav ul li{display:inline;}
#page1{background:red}
#page2{background:green}
#page3{background:blue}


.NavButton {
    background-color: #4CAF50; 
    border: none;             
    color: white;            
    padding: 15px 32px;      
    text-align: center;       
    text-decoration: none;    
    display: inline-block;   
    font-size: 16px;          
    margin: 4px 2px;          
    cursor: pointer;          
    border-radius: 12px;      
  }
  
  .NavButton:hover {
    background-color: #45a049; 
  }